@font-face {
    font-family: 'Titillium web';
    src: url('../fonts/titilliumweb-regular.woff2') format('woff2'),
         url('../fonts/titilliumweb-regular.woff') format('woff');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Titillium web';
    src: url('../fonts/titilliumweb-light.woff2') format('woff2'),
         url('../fonts/titilliumweb-light.woff') format('woff');
    font-style: normal;
    font-weight: 300;
}