<div class="signin">
    <h1 class="auth__brand">Crank</h1>
    <div class="login-form">
        <form autocomplete="off" id="login-form" class="auth" method="post" data-result=".login-result" data-refresh="/" action="" ng-submit="submitLogin()">
                <div class="auth__field-wrap">
                    <label for="username" class="auth__label">Username</label>
                    <input type="email" required="required" autofocus="" tabindex="1" placeholder="User Name" class="auth__field" name="username" id="username" ng-model="$parent.login_username">
                </div>
                <div class="auth__field-wrap">
                    <label for="password" class="auth__label">Password</label>
                    <input type="password" required="required" tabindex="2" placeholder="Password" class="auth__field" name="password" id="password" ng-model="$parent.login_password">
                </div>
            <div class="auth__cols">
                <div class="auth__col">
                    <button type="submit" tabindex="4" class="auth__btn">Sign In</button>
                </div>

                <div class="auth__col">
                    <label for="remember" class="auth__remember">
                        <input id="remember" type="checkbox" class="auth__remember-checkbox">
                        <span class="auth__remember-indicator"></span>
                        Remember me
                    </label>
                </div>
            </div>
               
                    
                    <a href="#recover" class="auth__forgot">Forgot your password?</a>
        </form>
    </div>
</div>





