

    <div class="account__main">

        <!-- begin date-bar -->
        <div class="account__date-bar date-bar">

            <div class="date-bar__icon">
                <i class="fa fa-calendar"></i>
            </div>

            <h2 class="date-bar__month">AUG</h2>

            <div class="date-bar__scroll">

                <div class="date-bar__scroller">

                    <div class="date-bar__items">
                        <span class="date-bar__item"><span class="date-bar__item-text">1</span></span>
                        <span class="date-bar__item"><span class="date-bar__item-text">2</span></span>
                        <span class="date-bar__item"><span class="date-bar__item-text">3</span></span>
                        <span class="date-bar__item"><span class="date-bar__item-text">4</span></span>
                        <span class="date-bar__item"><span class="date-bar__item-text">5</span></span>
                        <span class="date-bar__item"><span class="date-bar__item-text">6</span></span>
                        <span class="date-bar__item"><span class="date-bar__item-text">7</span></span>
                        <span class="date-bar__item"><span class="date-bar__item-text">8</span></span>
                        <span class="date-bar__item"><span class="date-bar__item-text">9</span></span>
                        <span class="date-bar__item"><span class="date-bar__item-text">10</span></span>
                        <span class="date-bar__item"><span class="date-bar__item-text">11</span></span>
                        <span class="date-bar__item"><span class="date-bar__item-text">12</span></span>
                        <span class="date-bar__item"><span class="date-bar__item-text">13</span></span>
                        <span class="date-bar__item"><span class="date-bar__item-text">14</span></span>
                        <span class="date-bar__item"><span class="date-bar__item-text">15</span></span>
                        <span class="date-bar__item"><span class="date-bar__item-text">16</span></span>
                        <span class="date-bar__item"><span class="date-bar__item-text">17</span></span>
                        <span class="date-bar__item"><span class="date-bar__item-text">18</span></span>
                        <span class="date-bar__item"><span class="date-bar__item-text">19</span></span>
                        <span class="date-bar__item"><span class="date-bar__item-text">20</span></span>
                        <span class="date-bar__item"><span class="date-bar__item-text">21</span></span>
                        <span class="date-bar__item"><span class="date-bar__item-text">22</span></span>
                        <span class="date-bar__item"><span class="date-bar__item-text">23</span></span>
                        <span class="date-bar__item"><span class="date-bar__item-text">24</span></span>
                        <span class="date-bar__item"><span class="date-bar__item-text">25</span></span>
                        <span class="date-bar__item"><span class="date-bar__item-text">26</span></span>
                        <span class="date-bar__item"><span class="date-bar__item-text">27</span></span>
                        <span class="date-bar__item"><span class="date-bar__item-text">28</span></span>
                        <span class="date-bar__item"><span class="date-bar__item-text">29</span></span>
                        <span class="date-bar__item"><span class="date-bar__item-text">30</span></span>
                        <span class="date-bar__item"><span class="date-bar__item-text">31</span></span>
                    </div>
                </div>

                <span class="date-bar__item date-bar__item--add"><span class="date-bar__item-text">add show</span></span>

            </div>
        </div>
        <!-- end date-bar -->
        <!-- begin promotion -->
        <div class="account__promotion promotion">

            <div class="promotion__main">

                <div class="promotion__header">

                    <div class="promotion__area-wrap">
                        <i class="fa fa-search"></i>
                        <input type="text" class="promotion__area" value="United area">
                    </div>

                    <div class="promotion__title-wrap">
                        <i class="fa fa-search"></i>
                        <input class="promotion__title" value="CHICAGO, IL, USA">
                    </div>

                    <div class="account__search search search--add">
                        <input type="search" class="search__field">
                        <span class="search__icon-search"><i class="fa fa-search"></i></span>
                        <a href="#" class="search__btn"><i class="fa fa-plus"></i></a>
                    </div>

                    <div class="promotion__places">
                        <div class="promotion__place">
                            MILWAUKEE
                            <a href="#" class="promotion__btn-close"><i class="fa fa-close"></i></a>
                        </div>
                        <div class="promotion__place">
                            DAVENPORT
                            <a href="#" class="promotion__btn-close"><i class="fa fa-close"></i></a>
                        </div>
                        <div class="promotion__place">
                            GRAND RAPIDS
                            <a href="#" class="promotion__btn-close"><i class="fa fa-close"></i></a>
                        </div>
                        <div class="promotion__place">
                            MADISON
                            <a href="#" class="promotion__btn-close"><i class="fa fa-close"></i></a>
                        </div>
                        <div class="promotion__place">
                            INDIANAPOLIS
                            <a href="#" class="promotion__btn-close"><i class="fa fa-close"></i></a>
                        </div>
                    </div>
                </div>

                <div class="promotion__tiles">

                    <!-- begin tile -->
                    <div class="tile" data-tile-content="radio1">
                        <img src="images/radio/radio1.png" alt="" class="tile__img">
                        <div class="tile__dropdown-list"></div>
                    </div>
                    <!-- end tile -->
                    <!-- begin tile -->
                    <div class="tile" data-tile-content="radio2">
                        <img src="images/radio/radio2.png" alt="" class="tile__img">
                        <div class="tile__dropdown-list"></div>
                    </div>
                    <!-- end tile -->
                    <!-- begin tile -->
                    <div class="tile" data-tile-content="radio3">
                        <img src="images/radio/radio3.png" alt="" class="tile__img">
                        <div class="tile__dropdown-list"></div>
                    </div>
                    <!-- end tile -->
                    <!-- begin tile -->
                    <div class="tile" data-tile-content="radio4">
                        <img src="images/radio/radio4.png" alt="" class="tile__img">
                        <div class="tile__dropdown-list"></div>
                    </div>
                    <!-- end tile -->
                    <!-- begin tile -->
                    <div class="tile" data-tile-content="radio5">
                        <img src="images/radio/radio5.png" alt="" class="tile__img">
                        <div class="tile__dropdown-list"></div>
                    </div>
                    <!-- end tile -->
                    <!-- begin tile -->
                    <div class="tile" data-tile-content="radio6">
                        <img src="images/radio/radio6.png" alt="" class="tile__img">
                        <div class="tile__dropdown-list"></div>
                    </div>
                    <!-- end tile -->
                    <!-- begin tile -->
                    <div class="tile" data-tile-content="radio7">
                        <img src="images/radio/radio7.png" alt="" class="tile__img">
                        <div class="tile__dropdown-list"></div>
                    </div>
                    <!-- end tile -->
                    <!-- begin tile -->
                    <div class="tile" data-tile-content="radio8">
                        <img src="images/radio/radio8.png" alt="" class="tile__img">
                        <div class="tile__dropdown-list"></div>
                    </div>
                    <!-- end tile -->
                    <!-- begin tile -->
                    <div class="tile" data-tile-content="radio9">
                        <img src="images/radio/radio9.png" alt="" class="tile__img">
                        <div class="tile__dropdown-list"></div>
                    </div>
                    <!-- end tile -->
                    <!-- begin tile -->
                    <div class="tile" data-tile-content="radio10">
                        <img src="images/radio/radio10.png" alt="" class="tile__img">
                        <div class="tile__dropdown-list"></div>
                    </div>
                    <!-- end tile -->
                    <!-- begin tile -->
                    <div class="tile" data-tile-content="radio11">
                        <img src="images/radio/radio11.png" alt="" class="tile__img">
                        <div class="tile__dropdown-list"></div>
                    </div>
                    <!-- end tile -->
                    <!-- begin tile -->
                    <div class="tile" data-tile-content="radio12">
                        <img src="images/radio/radio12.png" alt="" class="tile__img">
                        <div class="tile__dropdown-list"></div>
                    </div>
                    <!-- end tile -->
                    <!-- begin tile -->
                    <div class="tile" data-tile-content="radio13">
                        <img src="images/radio/radio13.png" alt="" class="tile__img">
                        <div class="tile__dropdown-list"></div>
                    </div>
                    <!-- end tile -->
                </div>

                <div class="promotion__tiles-content">

                    <div class="promotion__side">
                        <a class="promotion__link promotion__link--active" href="#">
                            <i class="fa fa-ticket"></i>
                        </a>
                        <a class="promotion__link" href="#"><i class="fa fa-camera"></i></a>
                        <a class="promotion__link" href="#"><i class="fa fa-microphone"></i></a>
                        <a class="promotion__link" href="#"><i class="fa fa-eye"></i></a>
                    </div>

                </div>

                <div class="promotion__bottom">
                    <div class="promotion__bottom-left">
                        <div class="promotion__counter">
                            <div class="promotion__count">2</div>
                            <div class="promotion__count-caption">interview</div>

                            <div class="promotion__counter-controls">
                                <a class="promotion__counter-btn promotion__counter-btn--increase" href="#">+</a>
                                <a class="promotion__counter-btn promotion__counter-btn--decrease" href="#">-</a>
                            </div>
                        </div>

                        <div class="promotion__variants">
                            <div class="promotion__variants-row">
                                <div class="promotion__variant">
                                    <span class="promotion__variant-text">2</span>
                                </div>
                                <div class="promotion__variant">
                                    <span class="promotion__variant-text">4</span>
                                </div>
                                <div class="promotion__variant">
                                    <span class="promotion__variant-text">6</span>
                                </div>
                                <div class="promotion__variant">
                                    <span class="promotion__variant-text">8</span>
                                </div>
                            </div>

                            <div class="promotion__variants-row">
                                <div class="promotion__variant">
                                    <span class="promotion__variant-text">10</span>
                                </div>
                                <div class="promotion__variant">
                                    <span class="promotion__variant-text">12</span>
                                </div>
                                <div class="promotion__variant">
                                    <span class="promotion__variant-text">14</span>
                                </div>
                                <div class="promotion__variant">
                                    <span class="promotion__variant-text">16</span>
                                </div>
                            </div>

                            <div class="promotion__variants-row">
                                <div class="promotion__variant">
                                    <span class="promotion__variant-text">18</span>
                                </div>
                                <div class="promotion__variant">
                                    <span class="promotion__variant-text">20</span>
                                </div>
                                <div class="promotion__variant">
                                    <span class="promotion__variant-text">22</span>
                                </div>
                                <div class="promotion__variant">
                                    <span class="promotion__variant-text">24</span>
                                </div>
                            </div>

                            <div class="promotion__variants-row">
                                <div class="promotion__variant">
                                    <span class="promotion__variant-text">26</span>
                                </div>
                                <div class="promotion__variant">
                                    <span class="promotion__variant-text">28</span>
                                </div>
                                <div class="promotion__variant">
                                    <span class="promotion__variant-text">30</span>
                                </div>
                                <div class="promotion__variant promotion__variant--clear">
                                    <span class="promotion__variant-text">clear</span>
                                </div>
                            </div>

                            <div class="promotion__variants-controls">
                                <a class="promotion__variants-btn" href="#">
                                    <span>Send</span>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- begin date-picker -->
                <div class="date-picker account__date-picker"></div>
                <!-- end date-picker -->

            </div>
        </div>
        <!-- end promotion -->

        <div class="account__bottom">

            <ul class="account__actions">
                <li class="account__action-item">
                    <a href="#" class="account__action-link">
                        <i class="fa fa-share"></i>
                    </a>
                </li>
                <li class="account__action-item">
                    <a href="#" class="account__action-link">
                        <i class="fa fa-print"></i>
                    </a>
                </li>
                <li class="account__action-item">
                    <a href="#" class="account__action-link"><i class="fa fa-save"></i></a>
                </li>
                <li class="account__action-item">
                    <a href="#" class="account__action-link">
                        <i class="fa fa-share-alt"></i>
                    </a>
                </li>
            </ul>

            <div class="account__frames account__frames--bottom">

                <!-- begin frame -->
                <div class="frame">
                    <img src="http://placehold.it/60x40" alt="#" class="frame__pic">
                    <div class="frame__info">
                        <div class="frame__title">kongos</div>
                        <div class="frame__area">greek theater</div>
                        <div class="frame__city">Los Angeles</div>
                        <div class="frame__date">Date: 07/18/2016</div>
                    </div>
                </div>
                <!-- end frame -->

            </div>

        </div>

    </div>

    <div class="account__side account__side--right">

        <!-- begin tabs -->
        <div class="tabs">

            <ul class="tabs__controls">
                <li class="tabs__control-item tabs__control-item--active">
                    <a class="tabs__control-link" href="#">Venue</a>
                </li>
                <li class="tabs__control-item">
                    <a class="tabs__control-link" href="#">Artist</a>
                </li>
                <li class="tabs__control-item">
                    <a class="tabs__control-link" href="#">Digital</a>
                </li>
                <li class="tabs__control-item">
                    <a class="tabs__control-link" href="#">Shows</a>
                </li>
            </ul>

            <!-- begin search -->
            <div class="account__search search">
                <input type="search" class="search__field">
                <span class="search__icon-search"><i class="fa fa-search"></i></span>
            </div>
            <!-- end search -->

            <div class="account__frames account__frames--side tabs__content">

                <!-- begin frame -->
                <div class="frame frame--active">

                    <img src="http://placehold.it/60x40" alt="#" class="frame__pic">

                    <div class="frame__info">
                        <div class="frame__area">greek theater</div>
                        <div class="frame__capacity">Capacity: 20,000</div>
                        <div class="frame__ticket">Ticket: AXS</div>
                    </div>
                </div>
                <!-- end frame -->

            </div>

        </div>

    </div>

